.attribution {
  font-size: 16px;
  text-align: center;
  color: aliceblue;
}
.attribution a {
  color: hsl(228, 45%, 44%);
}

* {
  margin: 0%;
  padding: 0%;
  box-sizing: border-box;
}

body {
  font-weight: "Inter";
  background-color: hsl(233, 47%, 7%);
}

.container {
  display: flex;
  flex-direction: row;
  width: 80%;
  margin: auto;
  margin-top: 7vw;
  border-radius: 10px;
  background-color: hsl(244, 38%, 16%);
}

/* left */
.left-part {
  width: 50%;
  display: flex;
  flex-direction: column;
  padding: 100px 80px;
}

.left-part h1,
h2 {
  color: white;
}

.left-part h1 {
  font-family: "Inter";
  font-weight: 700;
  font-size: 52px;
}
.left-part strong {
  color: hsl(277, 64%, 61%);
}

.left-part .upper-left p {
  margin-top: 5%;
  font-size: 20px;
  color: hsl(0, 0%, 100%, 0.75);
  line-height: 2rem;
  font-family: "Lexend Deca";
}
.stats {
  margin-top: 20%;
  display: flex;
  justify-content: space-between;
  margin-right: 25%;
}
.stats h2 {
  font-size: 40px;
  font-family: "Lexend Deca";
}

.stats p {
  color: hsla(0, 0%, 100%, 0.6);
  margin-top: 2%;
  text-transform: uppercase;
  letter-spacing: 2.5px;
  font-family: "Lexend Deca";
}

/* right */
.right-part {
  width: 50%;
}

.right-part {
  background: url("images/image-header-desktop.jpg") no-repeat center/cover;
  width: 50%;
  border-radius: 0 10px 10px 0;
}

.right-part .overlay {
  background-color: hsla(277, 64%, 61%, 0.7);
  height: 100%;
  width: 100%;
  border-radius: 0 10px 10px 0;
}

/* media */
